:root {
  /* background-color: rgb(168, 168, 168); */
  background-image: url('https://i.imgur.com/mBGEzr6.jpg');
  background-image: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  font-size: 62.5%;
}

.choice-container {
  display: flex;
  margin-bottom: 0.5rem;
  width: 100%;
  font-size: 1.8rem;
  border: 0.1rem solid black;
  background-color: white;
  opacity: 60%;

}

.choice-container:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem 0 rgb(228, 222, 222);
  transform: translateY(-0.1rem);
  transition: transform 150ms;
}

.choice-prefix {
  padding: 1.5rem 2.5rem;
  background-color: black;
  color: white;
}

.choice-text {
  padding: 1.5rem;
  color: black;
  width: 100%;

}

#question {
  font-family: 'Bowlby One SC';
  color: black;
  background-color: white;
  opacity: 60%;
  text-align: center;
}

.container {
  width: 100vh;
  height: 100vh;
  padding: 2rem;
  /* opacity: 60%; */
  margin: 0 auto;
}

.correct {
  background-color: green;
}

.incorrect {
  background-color: red;
}

/* HUD */

 #hud {
   display:flex;
   justify-content: space-between;
 }

 .hud-prefix {
   text-align: center;
   font-size: 2rem;
 }

 .hud-main-text {
   text-align: center;
 }

 #progressBar {
   width: 20rem;
   height: 4rem;
   border: 0.3rem solid white;
   opacity: 40%;
   margin: 2rem 0;
 }

 #progressBarFull {
  height: 3.4rem;
  background-color: white; 
  width: 0%;
 }
