:root {
  background-color: rgb(168, 168, 168);
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
  font-family: 'Baloo';
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4 {
  margin-bottom: 1rem;
}

h1 {
  font-size: 5.4rem;
  margin-bottom: 5rem;
  font-family: 'Monoton';
  color: white;
  font-weight: 500;
}

h1 > span {
  font-size: 2.4rem; 
}

h2 {
  font-size: 4.2rem; 
  margin-bottom: 4rem; 
}

h3 {
  font-size: 4.2rem; 
  font-weight: 500;
}

/* utilities */

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 80rem;
  margin: 0 auto;
}

/* any child of my container */

.container > * {
  width: 100%;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.text-center {
  text-align: center;
}

.hidden {
  display: none;
}

/* buttons  */

.btn {
  font-size: 1.8rem;
  padding: 1rem 0;
  width: 20rem;
  text-align: center;
  border: 0.1rem solid white;
  margin-bottom: 1rem;
  text-decoration: none;
  color: rgb(168, 168, 168);
  background-color: white;
}

.btn:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem 0 rgb(221, 220, 220);
  transform: translateY(-0.1rem);
  transition: transform 150ms;
}

.btn[disabled]:hover {
  cursor: not-allowed;
  box-shadow: none;
  transform: none;
}
