:root {
  /* background-color: rgb(168, 168, 168); */
  background-image: url('https://i.imgur.com/eHJERzf.jpg');
  background-image: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
  font-family: 'PT Mono';
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 5.4rem;
  margin-bottom: 5rem;
  font-family: 'Bowlby One SC';
  color: white;
  font-weight: 500;
}




.container {
  width: 100%;
  height: 100vh;
  display: flex;
  /* justify-content: right;
  align-items: right; */
  max-width: 122rem;
  margin: 0 auto;
  padding: 4rem;
}

#highScoresList {
  list-style: none;
  padding-left: 0;
  color: white;
  font-size: 3rem;
  margin-bottom: 4rem;
}

.high-score {
  margin-bottom: 0.5rem;
}

/* .high-score:hover {
transform: scale(1.5);
transition: 0.5s;
} */

#highScoresList {
  opacity: 0%;
  -webkit-transition: all 0.3s ease-out;  /* Chrome 1-25, Safari 3.2+ */
  -moz-transition: all 0.3s ease-out;  /* Firefox 4-15 */
    -o-transition: all 0.3s ease-out;  /* Opera 10.50–12.00 */
       transition: all 0.3s ease-out; 
}

#highScores:hover #highScoresList {
  opacity: 100%;
}

.container > * {
  width: 100%;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-center {
 justify-content: center;
  /* align-items: left; */
}

.justify-center {
  justify-content: center;
}

.text-center {
  text-align: center;
}

.hidden {
  display: none;
}

/* buttons  */

.btn {
  font-size: 2rem;
  padding: 1rem 0;
  width: 23rem;
  text-align: center;
  border: 0.1rem solid white;
  margin-bottom: 1rem;
  text-decoration: none;
  color: black;
  background-color: white;
  opacity: 30%;

}

.btn:hover {
  cursor: pointer;
  opacity: 90%;
  box-shadow: 0 0.4rem 1.4rem 0 rgb(246, 245, 245);
  transform: translateY(-0.1rem);
  transition: transform 150ms;
}

.btn[disabled]:hover {
  cursor: not-allowed;
  box-shadow: none;
  transform: none;
}

.btn-highscore {
  font-size: 2rem;
  padding: 1rem 0;
  width: 15rem;
  text-align: center;
  border: 0.1rem solid white;
  margin-bottom: 1rem;
  margin-left: 4rem;
  text-decoration: none;
  color: black;
  background-color: white;
  opacity: 30%;
}

.btn-highscore:hover {
  cursor: pointer;
  opacity: 90%;
  box-shadow: 0 0.4rem 1.4rem 0 #e6fafd;
  transform: translateY(-0.1rem);
  transition: transform 150ms;
}
/* end  */